.gitlab {
    fill: rgba(255,255,255,.7);
}

.gitlab:hover {
    fill: #fca326;
}

.measure-wide {
    max-width: 40em;
}

h3 {
    font-size: 1em;
}

/* Links without underline */
a:any-link {
    text-decoration: none;
}
