{{ define "main" }}
  <article class="pa3 pa4-ns nested-copy-line-height">
    <!--- VG: remove 'tc-l' class element to left-align text --->
    <section class="cf ph3 ph5-l pv3 pv4-l f4 center measure-wide lh-copy {{ $.Param "text_color" | default "mid-gray" }}">
      {{- .Content -}}
    </section>
    <!--- VG: remove list of posts stuff --->
    {{- template "_internal/pagination.html" . -}}
  </article>
{{ end }}
