{{ $featured_image := .Param "featured_image" | default "images/gohugo-default-sample-hero-image.jpg" }}
{{ $elements := index (split .CurrentSection "/") }}
{{ $section := index $elements (sub (len $elements) 2) }}

{{/* Trimming the slash and adding absURL make sure the image works no matter where our site lives */}}
{{ $featured_image := (trim $featured_image "/") | absURL }}
<header class="cover bg-top" style="background-image: url('{{ $featured_image }}');">
    <div class="bg-black-30">
    {{ partial "site-navigation.html" .}}
    <div class="tc-l pv4 pv6-l ph3 ph4-ns">
      <!--- VG: change h1 font weight to 'fw6' --->
      <h1 class="f2 f-subheadline-l fw6 white-90 mb0 lh-title">
        {{ .Title | default .Site.Title }}
      </h1>
      {{ with .Params.description }}
        <!--- VG: change h2 font weight to 'fw4' --->
        <h2 class="fw4 f5 f3-l white-90 measure-wide-l center mt3">
          {{ . }}
        </h2>
      {{ end }}
      {{ if .IsHome }}
        <a class="ba white-90 no-underline bg-animate
      hover-bg-white-30 br2 inline-flex items-center mr2 mb2 pv2 ph3" href="macos" title="View the macOS version">
          <span class="fab fa-apple f3 pr3"></span> <span>macOS Version</span>
        </a>
        <a class="ba white-90 no-underline bg-animate
		  hover-bg-white-30 br2 inline-flex items-center ml2 mb2 pv2 ph3" href="windows" title="View the Windows version">
          <span class="fab fa-windows f3 pr3"></span> <span>Windows Version</span>
        </a>	
      {{ end }}
      {{ if eq $section "macos" }}
        {{ $url := index .Site.Params "installer-macos" }}
        <a class="ba white-90 no-underline bg-animate hover-bg-white-30 br2 inline-flex items-center mb2 pv2 ph3" href="{{ $url }}" title="Download the macOS Installer">
          <span class="fas fa-download f3 pr3"></span>
          <span>Download macOS Installer</span>
        </a>
      {{ end }}
      {{ if eq $section "windows" }}
        {{ $url := index .Site.Params "installer-windows" }}
        <a class="ba white-90 no-underline bg-animate hover-bg-white-30 br2 inline-flex items-center mb2 pv2 ph3" href="{{ $url }}" title="Download the Windows Installer">
          <span class="fas fa-download f3 pr3"></span>
          <span>Download Windows Installer</span>
        </a>
      {{ end }}
    </div>
  </div>
</header>
