<footer class="bg-near-black bottom-0 w-100 pa3" role="contentinfo">
  <div class="flex justify-between">
  <a class="f4 fw4 hover-white no-underline white-70 dn dib-ns pv2 ph3" href="{{ .Site.BaseURL }}" >
    &copy; {{ now.Format "2006" }} Vincent Goulet
  </a>
  {{ partial "social-follow.html" . }}
  </div>
  <div class="white-50 ph3">
  Image &copy; Yathin S Krishnappa, <a class="hover-white no-underline white-70" href="https://creativecommons.org/licenses/by/3.0/deed.en">CC BY 3.0</a> via <a class="hover-white no-underline white-70" href="https://commons.wikimedia.org/w/index.php?curid=23249065">Wikimedia Commons</a>
  </div>
</footer>
