{{ $url := index .Site.Params (.Get 0) }}

<!-- button for release notes (news) -->
<a class="ba black-80 no-underline bg-animate hover-bg-black-20 br2 inline-flex items-center mr2 mb2 pv1 ph2 f5" href="{{ $url }}" title="See the release notes">
  <span>Release notes</span>
</a>
